:root {
  --main-color: #fff5eb;
  --second-color: #deedf0;
  --third-color: #f4c7ab;
  --fourth-color: #b2b8a3;
}
.container {
  background-color: var(--main-color);
  margin-top: 40px;
  margin-bottom: 60px;
  border-radius: 1%;
  padding: 60px;
  box-shadow: 10px 5px 5px var(--second-color);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.synonym {
  color: red;
}
@media (max-width: 380px) {
  .container {
    max-width: 90%;
  }
}
