:root {
  --main-color: #fff5eb;
  --second-color: #deedf0;
  --third-color: #f4c7ab;
  --fourth-color: #b2b8a3;
}

.phoneticsDiv {
  text-align: center;
  color: var(--fourth-color);
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--fourth-color);
  font-weight: bold;
}
:hover a {
  color: var(--third-color);
}
